*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: OpenSans;
  font-size: 14px;
}

p {
  line-height: 27px;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  padding-top: 1%;
}

h2 {
  font-size: .75em;
  text-align: center;
}

h3 {
  font-family: Roboto;
  text-align: left;
  font-size: 1.1em;
  padding-left: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
  font-weight: 600;
  line-height: 30px;
}

h4 {
  font-size: .75em;
}


.arrow-left {
  float: left;
  background-size: contain;
}

.statusbar {
  position: fixed;
}

.container {
  width: 375px;
  height: 760px;
  background-color: #F6F9F9;
}

.map {
  padding-top: 16%;
}

.topbar {
  margin-top: 20px;
  position: fixed;
  width: 375px;
  padding: 2%;
  background-color: #67B3EA;
  text-align: center;
  color: white;
}

.line {
  font-size: 1.4em;
  font-weight: bold;
  width: 14%;
  float: left;
  padding-left: 5%;
}


.info {
  width: 43%;
  float: left;
  padding-left: 5%;
  padding-bottom: 3%;
}


.time {
  width: 43%;
  text-align: right;
  float: left;
  padding-right: 5%;
  padding-bottom: 3%;
  font-weight: bold;
}

.next {
  width: 98%;
  text-align: right;
  float: left;
  padding-right: 3%;
  padding-bottom: 3%;
}

.reroute {
  padding-bottom: 8%;
}

.bottombar {
  width: 375px;
  position: fixed;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #67B3EA;
}

.tab a {
  color: white;
}

.tab {
  width: 33%;
  float: left;
  text-align: center;
  color: white;
  line-height: 15px;
}
