*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
}

p {
  line-height: 27px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: .75em;
  text-align: center;
}

h3 {
  text-align: left;
  font-size: 1.1em;
  padding-left: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  font-weight: 600;
  line-height: 30px;
}

h4 {
  font-size: .75em;
}

.scroll {
  overflow: scroll;
  height: 465px;
}

.arrow-left {
  float: left;
}

.fa-chevron-left {
  font-size: 20px;
}

.statusbar {
  position: fixed;
  background-size: contain;
}

.container {
  width: 375px;
  height: 667px;
  background-color: #FBFBFB;
}

.map {
  padding-top: 20%;
  background-image: url(../images/WashStateMap.png);
  height: 200px;
  background-size: cover;
}

.topbar {
  margin-top: 20px;
  position: fixed;
  width: 375px;
  padding: 2%;
  background-color: #67B3EA;
  text-align: center;
  color: white;
}

.line {
  font-size: 1.4em;
  font-weight: bold;
  width: 14%;
  float: left;
  padding-left: 5%;
}


.info {
  width: 43%;
  float: left;
  padding-left: 5%;
  padding-bottom: 3%;
}


.time {
  width: 33%;
  font-size: 16px;
  text-align: right;
  float: left;
  padding-bottom: 3%;
  font-weight: bold;
}

.border {
  width: 96%;
  float: left;
  padding-bottom: 3%;
  border-bottom: 0.75px solid #B4B4B4;
  margin-left: 2%;
  margin-bottom: 3%;
}

.next {
  width: 91%;
  text-align: right;
  float: left;
}

.fa-chevron-right {
  padding-top: 5%;
  padding-left: 3%;
  font-size: 20px;
}

.reroute {
  padding-bottom: 8%;
}

.bottombar {
  width: 375px;
  position: fixed;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #67B3EA;
}

.tab a {
  color: white;
}

.tab {
  width: 33%;
  float: left;
  text-align: center;
  color: white;
  line-height: 15px;
}
