*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 1em;
  padding-top: 1%;
}

h2 {
  font-size: .75em;
  color: white;
  text-align: center;
}

h3 {
  text-align: left;
  font-size: 1em;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: bold;
  line-height: 30px;
}
.arrow-left {
  float: left;
  background-size: contain;
}
.container {
  width: 375px;
  height: 700px;
  background-color: #F8F8FF;
}

.map {
  padding-top: 11%;
}

.topbar {
  position: fixed;
  width: 375px;
  padding: 2%;
  background-color: #67B3EA;
  text-align: center;
  color: white;
}

.line {
  box-sizing: border-box;
  font-weight: bold;
  width: 14%;
  float: left;
  padding-left: 5%;
}

.info {
  box-sizing: border-box;
  font-weight: bold;
  width: 43%;
  float: left;
  padding-left: 5%;
  padding-bottom: 3%;
}

.routes {
  padding-bottom: 20px;
}
.content {
  box-sizing: border-box;
  width: 43%;
  float: left;
  padding-left: 5%;
  padding-bottom: 3%;
}

.bottombar {
  position: fixed;
  width: 375px;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 75px;
  background-color: #67B3EA;
}

.tab a {
  color: white;
}

.tab {
  width: 33%;
  float: left;
  display: block;
  text-align: center;
  color: white;
  line-height: 15px;
}
